nav {
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    .navbar_container {
        @include container();
        display: flex;
        padding: 5px;
        position: relative;

        @media (max-width:780px) {
            justify-content: space-between;
        }

        .navbar_logo,
        .navbar_menu,
        .navbar_fb {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .navbar_logo {
            flex: 2;

            @media (max-width:780px) {
                flex: unset;
            }

            img {
                height: 60px;
            }
        }

        .navbar_menu {
            flex: 5;

            @media (max-width:780px) {
                display: none;
            }

            ul {
                display: flex;
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    flex: 1;

                    a {
                        display: inline;
                        padding: 20px 20px;
                        text-decoration: none;
                        color: #000;
                        font-size: 20px;
                    }
                }
            }
        }

        .navbar_fb {
            flex: 1;

            @media (max-width:780px) {
                display: none;
            }

            img {
                height: 30px;
            }
        }

        .rwd_navbar_burger {
            display: none;
            width: 50px;
            height: 50px;
            position: relative;
            overflow: hidden;

            @media (max-width:780px) {
                display: flex;
                justify-content: center;
            }

            .burger {
                width: 80%;
                height: 4px;
                background: #000;
                border-radius: 3px;
                position: absolute;

            }

            .burger:nth-child(1) {
                top: calc(10px - 2px);

                &.burger_1 {
                    animation-name: burger_1;
                    animation-duration: 2.5s;
                    animation-fill-mode: forwards;
                    animation-timing-function: cubic-bezier(.4, .9, .0, 9);

                    @keyframes burger_1 {
                        0% {
                            top: calc(10px - 2px);
                            left: 0px;
                        }

                        40% {
                            top: calc(3px - 2px);
                            left: -18px;
                            transform: rotate(45deg);
                        }

                        60% {
                            top: calc(3px - 2px);
                            left: -18px;
                            transform: rotate(45deg);
                        }

                        100% {
                            top: calc(25px - 2px);
                            left: 3px;
                            transform: rotate(45deg);
                        }
                    }
                }
            }

            .burger:nth-child(2) {
                top: calc(25px - 2px);

                &.burger_2 {
                    animation-name: burger_2;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;

                    @keyframes burger_2 {
                        0% {
                            top: calc(25px - 2px);
                            right: 0px;
                        }

                        50% {
                            top: calc(25px - 2px);
                            opacity: 1;
                            right: -50px;
                        }

                        100% {
                            top: calc(25px - 2px);
                            right: -50px;
                            opacity: 0;
                        }
                    }
                }
            }

            .burger:nth-child(3) {
                top: calc(40px - 2px);

                &.burger_3 {
                    animation-name: burger_3;
                    animation-duration: 2.5s;
                    animation-fill-mode: forwards;
                    animation-timing-function: cubic-bezier(.4, .9, .0, 9);

                    @keyframes burger_3 {
                        0% {
                            top: calc(40px - 2px);
                            left: 0px;
                        }

                        40% {
                            top: calc(5px - 2px);
                            left: 26px;
                            transform: rotate(-45deg);
                        }

                        60% {
                            top: calc(5px - 2px);
                            left: 26px;
                            transform: rotate(-45deg);
                        }

                        100% {
                            top: calc(25px - 2px);
                            left: 3px;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }

        .rwd_navbar_menu_burger {
            width: 100%;
            position: absolute;
            top: 73.5px;
            left: 0px;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 99;
            transform: translateY(20px);
            transition: all 500ms ease 500ms;
            opacity: 0;
            pointer-events: none;

            &.burger_menu {
                opacity: 1;
                transform: translateY(0px);
                pointer-events: visible;
            }

            ul {
                list-style-type: none;
                width: 100%;
                margin: 0px;
                padding: 0px;

                li {
                    width: 100%;
                    font-size: 18px;
                    padding: 0px;
                    margin: 0px;

                    a {
                        color: #fff;
                        display: block;
                        text-decoration: none;
                        padding: 15px 0px;
                        text-align: center;

                        &:hover {
                            background: #fff;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}