.section_2 {
    width: 100%;
    overflow: hidden;

    .section_2_container {
        @include container();
        padding-top: 74px;
        position: relative;


        .section_2_l {
            width: 60%;
            margin-left: auto;
            position: relative;
            z-index: -2;

            @media (max-width: 900px) {
                display: none;
            }

            img {
                max-width: 100%;
                height: auto;
                border: 0;
                vertical-align: top;
            }
        }

        .section_2_r {
            position: absolute;
            top: 25%;
            left: 0;
            padding: 30px;
            animation: morphing 16s linear infinite;
            background: rgba(238, 238, 238, 0.7);

            @keyframes morphing {
                0% {
                    border-radius: 60% 50% 70% 80% / 50% 60% 50% 70%;
                }

                12.5% {
                    border-radius: 40% 70% 80% 50% / 80% 40% 60% 50%;
                }

                25% {
                    border-radius: 70% 60% 60% 90% / 70% 80% 40% 90%;
                }

                37.5% {
                    border-radius: 50% 50% 80% 40% / 50% 40% 60% 50%;
                }

                50% {
                    border-radius: 60% 40% 70% 60% / 40% 60% 50% 60%;
                }

                62.5% {
                    border-radius: 40% 50% 50% 40% / 50% 70% 60% 50%;
                }

                75% {
                    border-radius: 90% 60% 40% 70% / 70% 50% 80% 40%;
                }

                87.5% {
                    border-radius: 50% 70% 50% 40% / 80% 40% 60% 50%;
                }

                100% {
                    border-radius: 60% 50% 70% 80% / 50% 60% 50% 70%;
                }
            }

            @media (max-width: 900px) {
                padding: 5px;
                position: relative;
                top: auto;
                left: auto;
            }

            @media(max-width: 640px) {
                padding: 40px 15px 0;
            }

            h2 {
                margin: 0;
                padding-top: 20px;
                padding-bottom: 30px;
                font-weight: 600;
                letter-spacing: 2px;
                font-size: 3rem;
                color: #1f211c;

                @media (max-width: 900px) {
                    padding: 5px;
                }

                @media (max-width: 640px) {
                    font-size: 2.4rem;
                }
            }

            :nth-child(2) {
                max-width: 460px;
                margin-bottom: 60px;
                line-height: 2;

                @media (max-width: 900px) {
                    max-width: inherit;
                    padding: 0 15px;
                }
            }

            :nth-child(3) {
                font-weight: 900;
                letter-spacing: 2px;
                font-size: 1.6rem;
                text-align: right;
                padding: 0 10px;

                a {
                    padding-right: 110px;
                    position: relative;
                    transition: 0.6s;

                    &:visited {
                        color: #000000;
                        text-decoration: none;
                    }

                    &:link {
                        color: #000000;
                        text-decoration: none;
                    }

                    .arrow {
                        width: 75px;
                        height: 7px;
                        display: block;
                        overflow: hidden;
                        position: absolute;
                        top: 6px;
                        right: 0;

                        @media (max-width: 640px) {
                            width: 50px;
                        }

                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 75px;
                            height: 7px;
                            background: url("../../images/section_2/arrow01.png") no-repeat right top;
                            background-size: 75px auto;
                        }

                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 75px;
                            height: 7px;
                            background: url("../../images/section_2/arrow01.png") no-repeat right top;
                            background-size: 75px auto;
                        }
                    }
                }
            }

            // .section_2_r_border {
            //     background: rgba(238, 238, 238, 0.7);
            //     width: 650px;
            //     height: 650px;
            //     animation: morphing 16s linear infinite;
            //     position: absolute;
            //     top: 15%;
            //     left: -25%;
            //     z-index: -1;

            //     @keyframes morphing {
            //         0% {
            //             border-radius: 60% 50% 70% 80% / 50% 60% 50% 70%;
            //         }

            //         12.5% {
            //             border-radius: 40% 70% 80% 50% / 80% 40% 60% 50%;
            //         }

            //         25% {
            //             border-radius: 70% 60% 60% 90% / 70% 80% 40% 90%;
            //         }

            //         37.5% {
            //             border-radius: 50% 50% 80% 40% / 50% 40% 60% 50%;
            //         }

            //         50% {
            //             border-radius: 60% 40% 70% 60% / 40% 60% 50% 60%;
            //         }

            //         62.5% {
            //             border-radius: 40% 50% 50% 40% / 50% 70% 60% 50%;
            //         }

            //         75% {
            //             border-radius: 90% 60% 40% 70% / 70% 50% 80% 40%;
            //         }

            //         87.5% {
            //             border-radius: 50% 70% 50% 40% / 80% 40% 60% 50%;
            //         }

            //         100% {
            //             border-radius: 60% 50% 70% 80% / 50% 60% 50% 70%;
            //         }
            //     }

            //     @media (max-width: 900px) {
            //         width: 300px;
            //         height: 300px;
            //     }
            // }
        }
    }
}